/*
  NOTE TO SELF
  copy the good html over to the bad html because changes are happening!
*/

.theBirbs{
  visibility: hidden;
}

#line1{
  position: absolute;
  width: 100%;
  top: 30em;
  border: solid black 2em;
  z-index: 5;
}

.info1{
  border: dashed black 30px;
}

.myStuff{
  position: absolute;
  top: 33em;
}

.photo{
  position: absolute;
  height: 30em;
  width: 35em;
  left:50em;
  top: 1em;
  border: solid black 10px;
  overflow: hidden;
  z-index: 1;
}

.sky{
  position: absolute;
  height: 31em;
  top: 1em;
  width: 50em;
  overflow:hidden;
}

#who{
  position:absolute;
  top: 2.7em;
  left: 0.5em;
  color:white;
  font-size: 700%;
  text-alignment: left;
  z-index: 1;
}

