/*
  NOTE TO SELF
  copy the good html over to the bad html because changes are happening!
*/

.theBirbs{
  visibility: hidden;
}

#line1{
  position: absolute;
  width: 85.8em;
  top: 31em;
  border: solid black 1.6em;
  z-index: 5;
}

.info1, .info2, .info3, .info4{
  /*border: solid grey 3px;*/
  width: 60em;
  padding: 1em;
}

#history, #offer, #important_info{
  background-color: pink;
  font-size: 2.6em;
  padding-left: 0.5em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.myStuff{
  position: absolute;
  top: 36em;
  border: solid black 5px;
}

.sidebar{
  position:absolute;
  border: solid black 5px;
  top: 36em;
  left: 64em;
  padding: 3em;
  width: 15%;
  height: 80%;

}

.links{
  position:absolute;
  border: solid black 5px;
  top: 68.8em;
  left: 64em;
  padding: 3em;
  width: 15%;
  height: 80%;
}

#Who_bar, #History_bar, #Offer_bar, #Important_bar{
  text-align: center;
}

.photo{
  position: absolute;
  height: 30em;
  width: 35em;
  left:50em;
  top: 1em;
  border: solid black 10px;
  overflow: hidden;
  z-index: 1;
}

.sky{
  position: absolute;
  height: 31em;
  top: 1em;
  width: 50em;
  overflow:hidden;
}

#who{
  position:absolute;
  top: 2.7em;
  left: 0.5em;
  color:white;
  font-size: 700%;
  text-alignment: left;
  z-index: 1;
}

