img{
  position:absolute;
  right: 0%;
  -webkit-animation: spin 12s infinite linear alternate;
  }

img.birb{
 position: relative;
  left 0%;
}



.myStuff{
  -webkit-animation: zoom 14s infinite linear alternate;
}

.info{
  text-align:center;
  font-family: "Comic Sans MS";
  color: #39FF14;
  -webkit-animation: spin 13s infinite linear alternate;
}


/*
  spin animation help from our lab
  as well as from Gaby aka G. Petrioli and 
  Jezen Thomas on StackOverflow:
  http://stackoverflow.com/users/128165/gaby-aka-g-petrioli
  http://stackoverflow.com/users/704015/jezen-thomas
  http://stackoverflow.com/questions/14859322/css3-spin-animation
*/

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg);
         }
    to { -moz-transform: rotate(360deg);
       }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);
         }
    to { -webkit-transform: rotate(360deg); 
       }
}
@keyframes spin {
    from {transform:rotate(0deg);
         }
    to {transform:rotate(360deg);
       }
}



@keyframes zoom {
    from {transform:scale(0);}
    to {transform:scale(20);}
}


@-moz-keyframes leftRight {
    0%{ -moz-transform: translateX(20%);
         }
    100% { -moz-transform: translateX(80%);
       }
}
@-webkit-keyframes leftRight {
    0% { -webkit-transform: translateX(20%);
         }
    100% { -webkit-transform: translateX(80%); 
       }
}
@keyframes leftRight {
    0% {transform: translateX(20%%);
         }
    100% {transform: translateX(80%);
       }
}



h1{
  text-align:center;
  font-family: "Times New Roman";
  font-style: italic;
  color: yellow;
}

/*
Background from: http://tumblr.tastefullyoffensive.com/post/156734380768/candidates-for-teacher-of-the-year-via Originally from yeti_father on reddit.
*/
body{
  background-image: url("http://68.media.tumblr.com/c0388d558705a8a659d809a1304fa39b/tumblr_okru9gJHJ91qewacoo2_400.jpg"); 
  background-color: aliceBlue;
}



/*Credit to W3Schools for\
  animating backgrounds and in steps:
  http://www.w3schools.com/css/css3_animations.asp
*/


.links{
  border:10px dashed orange;
  width: 50%;
  text-align:center;
  font-family: "Impact";
  font-size: 30px;
  -webkit-animation: leftRight 10s infinite linear alternate;
}

a{
  color: hotpink;
text-decoration: none;
}

a:visited{
  color:red;
  text-decoration: none;
}


