img{
  position:absolute;
  right: 0%;
  -webkit-animation: spin 12s infinite linear alternate;
  }


.myStuff{
  -webkit-animation: zoom 20s infinite linear alternate;
}

.info{
  text-align:center;
  font-family: "Comic Sans MS";
  color: #39FF14;
  -webkit-animation: spin 18s infinite linear alternate;
}


/*
  spin animation help from our lab
  as well as from Gaby aka G. Petrioli and 
  Jezen Thomas on StackOverflow:
  http://stackoverflow.com/users/128165/gaby-aka-g-petrioli
  http://stackoverflow.com/users/704015/jezen-thomas
  http://stackoverflow.com/questions/14859322/css3-spin-animation
*/

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg);
         }
    to { -moz-transform: rotate(360deg);
       }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);
         }
    to { -webkit-transform: rotate(360deg); 
       }
}
@keyframes spin {
    from {transform:rotate(0deg);
         }
    to {transform:rotate(360deg);
       }
}



@keyframes zoom {
    from {transform:scale(0);}
    to {transform:scale(20);}
}

h1{
  text-align:center;
  font-family: "Times New Roman";
  font-style: italic;
  color: yellow;
}

body{
  background-color: aliceBlue; 
  -webkit-animation: bgChanger 14s infinite linear;
}



/*Credit to W3Schools for\
  animating backgrounds and in steps:
  http://www.w3schools.com/css/css3_animations.asp
*/
@keyframes bgChanger {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.links{
  text-align:center;
  font-family: "Impact";
  font-size: 30px;
}

a:active{
  color: hotpink;
}

a:visited{
  color:blue;
}


