/*
Font creator is 
S. John Ross
Cumberland Games & Diversions
www.cumberlandgames.com
*/
@font-face {
    font-family: engravedFont;
    src: url(Hultog_Engraved.ttf);
}

body {  
  background-image: url(308.jpg);
  background-attachment: fixed; 
}

H1{
  font-family: engravedFont;
  font-style: italic; 
  font-size: 500%;
  color: black;
  text-align: center;

}

/*
code for scroll  and opacity based on
w3schools example:
http://www.w3schools.com/cssref/tryit.asp?filename=trycss_overflow
http://www.w3schools.com/css/css_image_transparency.asp
*/
pre{
  background-color: white;
  border-style: dotted;
  opacity: 0.5;
  width: 50%;
  height: 100px;
  overflow: scroll;
  margin: auto;
  text-align: center;
}

pre:hover{
  opacity: 1;
}

table{
  margin: auto;
  background-color: white;
  border-style: solid;
  border-radius: 5%;
  padding: 1%;
}

H2, H3, H4{
  font-style: italic;
  text-align: center;
}

/*
  From http://www.w3schools.com/cssref/sel_firstletter.asp
*/
p:first-letter{
  font-family: engravedFont;
  font-size: 200%;
}

p.c{
 text-align: center;
 font-style:italic;
  
}
p.c:first-letter{
  font-family:unset;
  font-size: 100%;
}

p.cb{
  visibility: hidden;
}

.figcenter{
  text-align:center;
}

.figright{
  text-align:center;
  float: right;
  padding: 1%;
}

.figleft{
  text-align: center;
  float: left;
  padding: 1%;
}
